<footer class="footer">
  <div class="socials">
    <i (click)="onUpClick()" class="fa fa-3x fa-arrow-circle-up"></i>
    <div class="social-wrapper">
      <i class="fa fa-2x fa-facebook-square"></i>
    </div>
    <div class="social-wrapper">
      <i class="fa fa-2x fa-twitter"></i>
    </div>
    <div class="social-wrapper">
      <i class="fa fa-2x fa-linkedin"></i>
    </div>
    <div class="social-wrapper">
      <i class="fa fa-2x fa-link"></i>
    </div>
    <br/>
    <div class="navigation-bottom">
      <a> Home &nbsp;|</a>
      <a>&nbsp; Log in &nbsp;|</a>
      <a>&nbsp; Sign up &nbsp;|</a>
      <a>&nbsp; Generate &nbsp;|</a>
      <a>&nbsp; View </a>

    </div>
  </div>
  <div class="built-wrapper">
    <span> Build with <i class="fa fa-heart"></i> by <strong>JBoss</strong></span>
  </div>
</footer>
