.footer{
  font-weight: bold;
  width: 100%;
  height: 5%;
  position: fixed;
  left: 0;
  bottom: 0;
  display : flex;
  align-items : center;
  background-color: #7A7C7C;
  color: white;
  font-size: 150%;
  background: #F1002C;
}

.footer span {
  display: inline-block;
  margin: 0 auto;
}
