<!DOCTYPE html>
<html>
  <head>
     <title></title>
	 <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
<div class="bordir">
    <div class="myid"align="left">ID:</div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/JBoss_logo.svg " align="center"/>
     <div class="gci">google code in</div>
    <div class="cof">CERTIFICATION OF ACHIEVEMENT</div>
    <div class="cp">this certification is presented to</div>
     <div class="yourname">NAME</div>
    <div class="date" align="left">DATE</div>
	<div class="signa" align="right">SIGNATURE</div>
  </div>
  </body>
  </html>
