@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto+Slab');

.certificate-wrapper {
  width: 50%;
  height: 60vh;
  border: 10px solid #3F213B;
  font-family: 'Questrial', sans-serif;
}


.certificate-content {
  width: 96%;
  height: 96%;
  margin: 1vh auto;
  border: 3px solid #583259;
  position:relative;
}

.main-title {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CB004C, #FF8A79);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CB004C, #FF8A79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vh;
  font-weight: bold;
  margin-top: 7vh;
  font-family: 'Roboto Slab', serif;
}


#issued_to {
  font-size: 3.5vh;
  margin: 1.75vh 0;
}

#for {
  font-size: 3vh;
  margin: 1.75vh 0;
  font-weight: bold;
}

.footer {
  position:absolute;
  bottom:0;
  left:0;
  margin-bottom: 4vh;
}
