

<ul>
  &nbsp <y>Certificate Generator</y>


<li style="float:right"><a class="active" href="#about"><i class='fas fa-user' style='font-size:22px'>&nbsp<i class='fas fa-ellipsis-v' style='font-size:22px'></i>&nbsp &nbsp&nbsp</i></a></li>
&nbsp
 <li style="float:right"><a class="active" href="#about">Sign up</a></li>
&nbsp
 <li style="float:right"><a class="active" href="#about">Home</a></li>

</ul>
<br>
<br>
<div class="v">
<br>
<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/JBoss_logo.svg/2000px-JBoss_logo.svg.png" height="91px" width="154px"></center>
<center><k>Certificate Generator</k></center>
<form name="form1" action="" method="post" enctype="multipart/form-data">  
                <div class="container">  

                <p>  
               
                   <label for="uname">&nbsp Username</label></p>
                    <p><input type="text" placeholder="Ex-jack" name="uname" required></p>  
              
                <p>  
           
                     <label for="password">&nbsp Password</label>
                     <br>
                     <br>
                     <input type="password" placeholder="Enter your password" name="password" required></p> 
                     
                     
                     <p><a href="#" style=float:right>Forgot password ?</a></p>
                    <p>  <input type="checkbox" checked="checked" name="remember"><d> &nbsp Remember me</d></p>
  
     <p>&nbsp<a href="#" class="button">SIGN IN</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" class="button">SIGN UP</a> </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</label> 
        </div>  
    </form> 
    </div>

<t><k>What is Certificate Generator?</k>
<p> Certificate Generator aims to automatically generate certificates based on the data provided using input file like CSV and Excel.
<br>
<br>
<k>New to our website? Sign up now !</k>
<br>
<br>
<k>Development Stack</k>
<br>
HTML
<br>
CSS
<br>
Angular 6 For Front-end
<br>
</t>
<br>
<br>
<br>
<br>
<br>
<br>
<footer><center>&#169 Jboss Outreach 2018</center></footer>
