<div class="certificate-wrapper" [ngStyle]="{'background-image':'url('+this.bgimage+')' }">
    <div class="certificate-content text-center">
      <div class="id-wrapper" [ngStyle]="{'font-family': this.font[0], 'color': this.color[0] }"> ID: <span id="cert_id"> #31234</span></div>
      <div class="main-title" [ngStyle]="{'font-family': this.font[1], 'color': this.color[1] }"> CERTIFICATE </div>
      <div class="certi-intro" [ngStyle]="{'font-family': this.font[2], 'color': this.color[2] }">This certificate is presented to</div>
      <div id="issued_to" class="main-title" [ngStyle]="{'font-family': this.font[3], 'color': this.color[3] }"> {{ this.certificateForm.value.issued_to }} </div>
      <div class="for"> for successfully completing</div>
      <div id="for" class="main-title" [ngStyle]="{'font-family': this.font[4], 'color': this.color[4] }"> {{ this.certificateForm.value.issued_for }} </div>
      <div class="container-fluid footer">
        <div class="row">
          <div class="col-1"></div>
          <div class="col" [ngStyle]="{'font-family': this.font[6], 'color': this.color[6] }">
            <hr>
            Date
          </div>
          <div class="col-1"></div>
          <div class="col" [ngStyle]="{'font-family': this.font[5], 'color': this.color[5] }">
            <hr>
            Signature
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
</div>
