@import url(https://fonts.googleapis.com/css?family=Poppins:300);
* {
  font-family: 'Poppins', sans-serif;
}

.header {
  padding: 40px;
  text-align: center;
  background: red;
  color: white;
  font-size: 30px;
}

.section {
  overflow: hidden;
  margin: 5% 0% 0% 5%;
  color: #384851;
  font-size: 25px;
}
form input[type="radio"] {
  display: inline-block;
}
.section-title {
  font-weight: bold;
}


.login-wrapper {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 5% auto 10% auto;
  border-radius: 55px;
  padding: 0 40px;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.45);
}

.header-logo {
  display: block;
  margin: 40px auto 10px auto;
  width: 50%;
  margin-top: 10px;
  min-height: 150px;
  min-width: 250px;
}

.login-title {
  color: #384851;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1.5px;
  margin: 20px 0;
}


.input-label {
  font-size: 100%;
  float: left;
  color: #526E7A;
  font-weight: bold;
  margin-top: 20px;
}

.input-label-radio{
  font-size: 100%;
  float: left;
  color: #526E7A;
  font-weight: bold;
  margin-top: 0px;
  padding-right: 10px;
}
.reset-wrap {
  color: #526E7A;
  width: 100%;
  text-align: right;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ADBDC5;
  border-radius: 8px;
  color: #ADBDC5;
  font-size: 140%;
  margin-top: 10px;
}

button {
  background-color: #F1002C;
  border: none;
  border-radius: 30px;
  padding: 8px 30px;
  margin: 40px 0;
  color: white;
  font-weight: bold;
  font-size: 130%;
  letter-spacing: 1.5px;
}

@media all and (max-width: 1180px) {
  .col-7 {
    display: none;
  }
  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .login-wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    border: none;
  }

  .header-logo {
    width: 25%;
  }

  .input-label {
    margin-top: 10px;
  }

}

@media all and (max-width: 600px) {
  * {
    font-size: 94%;
  }

  .login-title {
    display: none;
  }

}
