.arrow {
  margin-left: 25px;
}
.body {
  margin-top: 3%;
  text-align: center;
}
.table-responsive {
  margin-top: 2%;
}
.preview {
  width: 100px;
  height: 75px;
}
.table td {
  vertical-align: middle;
}
