<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-map"></i> Certificate Generator </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li *ngIf="afAuth.user | async as user; else showLogin"><a> Hello {{ user.displayName }}! </a></li>
        <ng-template #showLogin>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Sign up</a></li>
        </ng-template>
        <li><a routerLink="/organization">Generate Certificates</a></li>
        <li><a routerLink="/student">View certificates</a></li>
        <li *ngIf="afAuth.user | async as user"><a (click)="logout()"> Log out <i class="fa fa-sign-out"></i> </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
