<div class="container">
  <h1>Certificate Generator</h1>
  <p>The free online tool for all of your certificate-making needs!</p>
  <nav class="nav flex-column nav-menu">
    <a class="nav-link" routerLink="/student" routerLinkActive="nav-link-active"><i class="fa fa-search"></i> View Certificates</a>
    <a class="nav-link" routerLink="/organization" routerLinkActive="nav-link-active"><i class="fa fa-wrench"></i> Generate Certificates</a>
    <nav class="nav auth-links">
      <a class="nav-link" routerLink="/login" routerLinkActive="nav-link-active"><i class="fa fa-id-card"></i> Login</a>
      <a class="nav-link" routerLink="/signup" routerLinkActive="nav-link-active"><i class="fa fa-user-plus"></i>  Sign up</a>
    </nav>
  </nav>
</div>