<div class="container">
  <nav class="nav nav-menu">
    <a class="nav-link large-screen logo"><h1>Certificate Generator</h1></a>
    <a class="nav-link small-screen logo"><h1>C.G</h1></a>
    <a class="nav-link large-screen" routerLink="/dashboard" routerLinkActive="nav-link-active"><i class="fa fa-book"></i> Dashboard</a>
    <a class="nav-link small-screen" routerLink="/dashboard" routerLinkActive="nav-link-active"><i class="fa fa-book"></i></a>
    <a class="nav-link large-screen" routerLink="/student" routerLinkActive="nav-link-active"><i class="fa fa-search"></i> View</a>
    <a class="nav-link small-screen" routerLink="/student" routerLinkActive="nav-link-active"><i class="fa fa-search"></i></a>
    <a class="nav-link large-screen" routerLink="/organization" routerLinkActive="nav-link-active"><i class="fa fa-wrench"></i> Create</a>
    <a class="nav-link small-screen" routerLink="/organization" routerLinkActive="nav-link-active"><i class="fa fa-wrench"></i></a>
    <a class="nav-link login-button" mat-raised-button routerLink="/login" routerLinkActive="nav-link-active" *ngIf="!loggedIn"><i class="fa fa-id-card"></i>&nbsp;&nbsp;Login</a>
    <a class="nav-link login-button" mat-raised-button routerLink="/login" routerLinkActive="nav-link-active" *ngIf="loggedIn"><i class="fa fa-id-card"></i>&nbsp;&nbsp;Logout</a>
  </nav>
</div>