* {
    text-align: center;
}

.container {
    padding: 0;
}

.nav-menu {
    height: 68px;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgb(82, 116, 160);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
 
h1 {
    font-family: 'Lobster';
    color: #f2f2f2;
    font-size: 30px;
    margin-bottom: 2px;
    cursor: pointer;
}


.nav-link {
    font-family: 'Roboto';
    color: #e2e2e2;
    font-weight: 400;
    font-size: 17px;
    transition: 0.2s;
}

.auth-links {
    margin-top: auto;
}

.nav-link:hover{
    color: #fff;
}

.nav-link-active {
    color: #fff;
}

.login-button {
    margin-left: auto;
    margin-right: 30px;
    color: rgb(82, 116, 160);
    height: 42px;
    display: flex;
    align-items: center;
}

.login-button:hover{
    color: rgb(55, 81, 116);
}

@media only screen and (max-width: 800px){
    h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 700px){
    .logo.large-screen {
        display: none;
    }
    .logo.small-screen {
        display: initial;
    }
}

.small-screen {
    display: none;
}

@media only screen and (max-width: 550px){
    .large-screen {
        display: none;
    }
    .small-screen {
        display: initial;
    }
}