.navbar {
  background: #F1002C;
  border-radius: 0;
  margin: auto;
  padding: 7px;
}

.navbar * {
  color: white;
}

.navbar-brand {
  font-size: 220%;
  font-weight: bold;
}
.navbar-toggler * {
  color: white;
}
.nav-link {
  font-size: 150%;
  margin-right: 40px;
}


@media all and (max-width: 600px) {
  * {
    font-size: 80%;
  }

}
