<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Certificate</title>
</head>
<body>
  <div class="certificate">
    <div class="row">
      <div class="logo col s3">
        <p class="certificate_id">#Certificate_id</p>
        <i class="fas fa-certificate fa-5x icon"></i>
        <img src="https://files.gitter.im/JBossOutreach/gci/b5qU/logo.png" width="130px" height="80px">
      </div>
      <div class="fields col s9">
        <h1>Certificate of Achievement</h1>
        <h3>Presented to { Name Here }</h3>
        <h3>for { Achievement Description here }</h3>
        <h3>on { Date here }</h3>
        <h3 class="sign">___sign____</h3>
      </div>
    </div>
  </div>
</body>
</html>