<link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css">
<div class="certificate text-center">
  <div class="row">
    <div class="logo col s3">
      <p class="certificate_id">#Certificate_id</p>
      <i class="fa fa-certificate fa-5x icon"></i>
      <img src="https://files.gitter.im/JBossOutreach/gci/b5qU/logo.png">
    </div>
    <div class="fields col s9">
      <h1>Certificate of Achievement</h1>
      <h3>Presented to </h3>
      <h3>for </h3>
      <h3>on </h3>
      <h3 class="sign">___sign____</h3>
    </div>
  </div>
</div>
