<!DOCTYPE html>
<html>
    <head>
    <title> Certificate </title>
    </head>

    <body>
    <div class="top">
        <div class="id">ID- </div>
        <div class="id_number"> #A666 </div>
        <img src ="assets/jboss.svg" class="logo">
    </div>

    <div class="cert-head"> Certificate of Excellence </div>

    <div class="cert-title"> This certificate is awarded to </div>
    <div class="stud-name"> Sidhya Tikku </div>
    <div class="cert-body"> For extraordinary academic achievements </div>

    <div class="valid_inputs">
    <div class="date_input"> 20/04/2019 </div>
<!--<div class="sign_input"> Lorem I Dolor</div> Add issuer's name/virtual signature-->
    </div>

    <div class="valid">
    <div class="date"> Date of Issuance </div>
    <div class="sign"> Signature </div>
    </div>
    </body>

</html>
