<div class="im">
<div class="login">
    <h1>Login</h1>
      <form>
        <h2> Username:</h2>
      <input type="text" placeholder="ENTER USERNAME"  name="Username" >
        <h2> Password:</h2>
          <input type="text" placeholder="ENTER PASSWORD"  name="Password" >
</form>
<button class="log">Sign in</button>
<button class="log">Sign up</button>
<button class="forgot">Forgot password?</button>
<label class="check">Remember me
<input type="checkbox" ></label>
  </div>
</div>
