<div class='certificate-border'>
  <div class='certificate-content'>
    <div class='title text-center'>
      CERTIFICATE
    </div>
    <div id='section-text'>
      <p class='text'>This is to certify that </p>
      <p id='student' class='text highlighted'>Baftek </p> 
      <p class='text'>has successfully completed </p>
      <p id='subject' class='text highlighted'>Google Code-In</p>
      <hr/>
    </div>
    <div id='section-text'>
      Issued by <p class='text highlighted'>JBoss Outreach</p>
    </div>
    <div id='section-quotation'>
      <p id='quotation'>Lux mea mundi</p>
    </div>
    <div id='section-signatures'>
      <p>Mentor signature: </p>
      <hr/>
      <p>Student signature: </p>
      <hr/>
      <p>Date: </p>
      <hr/>
    </div>
  </div>
</div>