<div class="card">
  <form ngForm="ngForm">

    <div class="styled-input">
      <h5>Photo:</h5>
      <input id="photo" type="file" required/>
    </div>

    <div class="styled-input">
      <input id="company" type="text" required/>
      <label for="company">Company</label>
    </div>

    <div class="styled-input">
      <input id="title" type="text" required/>
      <label for="title">Title</label>
    </div>

    <div class="styled-input">
      <input id="name" type="text" required/>
      <label for="name">Name</label>
    </div>

    <div class="styled-input">
      <input id="description" type="text" required/>
      <label for="description">Description</label>
    </div>

    <div class="styled-input">
      <input id="date" type="date" required/>
      <label for="date"></label>
    </div>

    <div class="styled-input">
      <h5>Signature:</h5>
      <input id="signature" type="file" required/>
    </div>

    <div class="btn">
      <input type="submit" value="Preview">
    </div>

    <div class="btn">
      <input type="button" onclick="validateForm()" value="Publish">
    </div>

  </form>
</div>
