<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-7">
          <div class="section section-content">
            <div class="section-title">Error</div>
            The page you are trying to access does not exist. <br> Try signing in if you haven't already.
          </div>
          <div class="section section-content">
            <div class="section-title">Already have an account? <a href="#" routerLink="/signin" class="col">Sign In!</a></div>
          </div>
          <div class="section section-content">
            <div class="section-title">New to Certificate Generator? <a href="#" routerLink="/signup" class="col">Sign UP!</a></div>
          </div>
    </div>
    <div class="col-4">
      <div class="error_w">
        <img src="assets/jboss.svg" class="logo">
        <h1 class="error_t text-center">Error</h1>
      </div>
    </div>
  </div>
</div>
