<div class="c">
         <img src="https://cdn3.iconfinder.com/data/icons/award-and-trohpy/81/Award_ribbon_cup-07-512.png" style="width:150px;height:150px;float:left;margin-left:20px;" >
  <h1>  Certificate </h1>
  <h2>  <font size="8">Google Code-in</font> </h2>
  <p>  This certificate is awarded to</p>
 <form>
  <input type="text" placeholder="ENTER NAME" id="flname" name="flname">
  </form>
   <p>Description</p>
   <form>
  <textarea placeholder="ENTER DESCRIPTION"></textarea>
</form>
<form>
  <p>Date:</p>
 <input type="text" placeholder="DATE" id="date" name="date" >
 </form>
  </div>
