<nav>
<div class="nav-wrapper">
  <a href="#" class="brand-logo">
      <i><img class="org_logo" src="https://user-images.githubusercontent.com/24720722/47961611-732c3b80-e034-11e8-8b3d-2f44b07fe706.png"/>
      </i>Certificate Generator
  </a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="#">Home</a></li>
    <li><a href="#">Dashboard</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">more_vert</i></a></li>
  </ul>
</div>
</nav>
<div class="stu_profile" align="center">
<img class="profile_pic" src="https://raw.githubusercontent.com/crowded-geek/bucket/master/prfl.png"/>
<p class="stu_name">crowded_geek</p>
</div>
<p align="center" class="cert_text">Certificates</p>
<div class="certs" align="center">
    <table>
        <tr>
        <td>
        <img class=" cert_v" src="https://user-images.githubusercontent.com/24720722/48731826-fae48d80-ec63-11e8-98db-1f2ec63c6120.png">
        </td>
        <td class="dt_issued">
            Issued on: xx/xx/xxxx
        </td>
        <td>
        <a id="v_btn" class="waves-effect waves-light btn" onclick="openCert()">View</a>
        </td>
        </tr>
    </table>
</div>