<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="section">
        <div class="section_t">What is Certificate Generator?</div>
        Certificate Generator aims to automatically generate<br>certificates based on the data provided using input files<br>like CSV or Excel.
      </div>
      <div class="section">
        <div class="section_t">New to our website? Sign up now!</div>
      </div>
      <div class="section">
        <div class="section_t">Development Stack</div>
        HTML<br>CSS<br>Angular 6 for Front-End
      </div>
    </div>
    <div class="col-4">
      <div class="signup_w">
        <img src="assets/jboss_logo.svg" class="logo">
        <h1 class="signup_t text-center">Certificate Generator</h1>
        <form [formGroup]="signupForm" (submit)="onSubmit()">
         <div class ="form-group">
           <label for="name" class="input">Name</label> 
           <input type="text" class="form-control" id="name" formControlName="name">        
        </div>
         <div class="form-group">
            <label for="email" class="input">Email </label>
            <input type="email" class="form-control" id="email" formControlName="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
         </div>
         <div class="form-group">
           <label for="pwd" class="input">Password</label>
           <input type="password" class="form-control" id="pwd" formControlName="password">
         </div>
         <div class="form-group">
          <label for="description" class="input">Description</label>
          <input type="text_des" class="form-control" id="description" formControlName="description">
         </div>
         <div class="container-fluid">
           <div class="row">
             <div class="button">
               <button type="submit" class="col">SIGN UP</button>
             </div>
           </div>
         </div>
       </form>
      </div>
    </div>
  </div>
</div>