* {
  font-family: 'Poppins', sans-serif;
 }

 .col-4 {
  height: 80vh;
}

 .section {
   overflow: hidden;
  margin: 5% 0% 0% 5%;
  color: #384850;
  font-size: 25px;
}

.section-title {
  font-weight: bold;
}

.signup_w {
  border: 1px solid rgba(0, 0, 0, 0.0);
  border-radius: 50px;
  padding: 0 40px;
  margin: 5% auto 5% auto;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.45);
  height: 145%;
  width: 115%;
}

.logo {
  display: block;
  margin: auto auto auto auto;
  width: 50%;
  margin-top: 10px;
  min-height: 150px;
  min-width: 250px;
}

.signup_t {
  color: #384851;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 25px;
  margin: 20px 0;
}


.input {
  font-size: 100%;
  float: left;
  color: #526E7A;
  font-weight: bold;
  margin-top: 0;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ADBDC5;
  border-radius: 10px;
  color: #ADBDC5;
  font-size: 100%;
  margin-top: 5px;
}

.checkboxes {
  text-align:center;
 }

.checkboxes input{
  margin: 0px 0px 0px 0px;
 }

 .checkboxes label{
   margin: 0px 40px 0px 50px;
   font-size: 100%;
   float: center;
   color: #526E7A;
 }

button {
  background-color: #F1002C;
  border: none;
  float: center;
  border-radius: 30px;
  padding: 8px 40px;
  margin: 5% 10px 5% 65px;
  color: white;
  font-weight: bold;
  font-size: 100%;
  letter-spacing: 1px;
}

@media all and (max-width: 1000px) {
  * {
    font-size: 100%;
  }

  .signup_t {
    display: none;
  }
}

@media all and (max-width: 1000px) {
  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-8 {
    display: none;
  }

  .signup_w {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    border: none;
  }

  .logo {
    width: 25%;
  }

  .input {
    margin-top: 0px;
  }
}
