<div class="outer">Certificate id -
<div class="inner">
  <img class="logo" src="https://i.stack.imgur.com/79Q5c.png">
  <div class="ribbon-1"></div>
    <div class="text-1">BEST IN</div>
  <div class="text-2">TITLE</div>
  <div class="text-3">Proudly awarded to</div>
  <div class="name">NAME</div>
  <div class="description">Description</div>
   <div class="line-2"></div>  
  <div class="line-1"></div>
  <div class="date">DATE</div>
  <div class="signature">SIGNATURE</div>
</div>
</div>