<img *ngIf="!certificatesFragment" class="arrow" (click)="onClickArrow()"
     src="https://www.materialui.co/materialIcons/navigation/arrow_back_black_48x48.png"/>
<div *ngIf="!certificatesFragment" class="frame">
  <div class="certificate">
    <div align="left" class="id">ID: #1</div>
    <h2 class="company">
      <img src="assets/jboss.svg"
           align="center"
           width="80px" height="50px"/> JBoss Community
    </h2>
    <h1>Google Code In 2018</h1>
    <h2 class="name">Name Surname</h2>
    <h3>Description</h3>
    <div class="bot">
      <div class="a">
        <h4 class="sign-text" align="left">Signature</h4>
        <h4 class="sign" align="left">________</h4>
      </div>
      <div class="b">
        <h4 class="date-text" align="right">Date</h4>
        <h4 class="date" align="right">17.11.2018</h4>
      </div>
    </div>
  </div>
</div>
<app-student-certificates *ngIf="certificatesFragment"></app-student-certificates>
