<div class="frame">
  <div class="certificate">
    <div align="left" class="id">ID: #1</div>
    <h2 class="company">
      <img src="https://files.gitter.im/JBossOutreach/gci/b5qU/logo.png"
           align="center"
           width="80px" height="50px"/>{{this.inputs[0]}}
    </h2>
    <h1>{{this.inputs[1]}}</h1>
    <h2 class="name">{{this.inputs[2]}}</h2>
    <h3>{{this.inputs[3]}}</h3>
    <div class="bot">
      <div class="a">
        <h4 class="sign-text" align="left">Signature</h4>
        <h4 class="sign" align="left">________</h4>
      </div>
      <div class="b">
        <h4 class="date-text" align="right">Date</h4>
        <h4 class="date" align="right">{{this.inputs[4]}}</h4>
      </div>
    </div>
  </div>
</div>
