<div class="body" [ngStyle]="{'background-image':'url('+this.inputs[0]+')',
                              'background-repeat': 'no-repeat',
                              'background-size': 'cover',
                              'font-family': this.inputs[1],
                              'color':this.inputs[2]
                                              }">
    <head>
    <title> Certificate of Excellence </title>
    </head>
    <body>
   <div class="inset-border">
     <div class="double-border">
      <div>
        <div class="id" align="left">ID: </div>
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/JBoss_logo.svg" align="center"/>
        <p class="certificate">Certificate</p>
        <h2><span>of Excellence</span></h2>
        <p class="text">This certificate is proudly presented to:</p>
        <p class="name">Name Surname</p>
        <p class="description">May Loreum Epsum be with you (Description Here)</p>
        <div class="date">
            <p class="dateText" align="left">Date:</p>
          </div>
          <div class="signature">
            <p class="signatureText" align="right">Signature:</p>
          </div>
          </div>
      </div>
    </div>
   </body>
</div>