
ul{
  margin:0;
  overflow:hidden;
list-style-type: none;
width: 96%;
position: fixed;
top:0;
background-color: #840c0a;
}
li {
  float:left;
}
li a {
    display: block;
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #720414;
}
