<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <h2>Welcome to {{ title }}, you can:</h2>
    <button type="button" class="btn" routerLink="/login">Basic</button>
    <button type="button" class="btn" routerLink="/signup">Sign up</button>
    <button type="button" class="btn" routerLink="/organization">Generate Certificates</button>
    <button type="button" class="btn" routerLink="/student">View your certificates</button> 
</div>
<br>
<h5>Router Outlet</h5>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="footer">
  <div class="text-center py-3">Copyright © 2018:
    <a style = "text-decoration: none; color: white;"href="https://codein.withgoogle.com/organizations/jboss-community/"> JBoss Community</a>
  </div>
</footer>
<!-- Footer -->

