<!--The content below is only a placeholder and can be replaced.-->
<div class="container main-container">
  <div class="row">
    <div class="col-4 navbar-menu">
      <app-navbar></app-navbar>
    </div>
    <div class="col-8">
      <br>
      <h5>Router Outlet</h5>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="footer">
  <div class="text-center py-3">Copyright © 2018:
    <a style="text-decoration: none; color: white;" href="https://codein.withgoogle.com/organizations/jboss-community/">
      JBoss Community</a>
  </div>
</footer>
<!-- Footer -->