.main-container {
    margin-left: 0;
}

footer {
    font-family: 'Roboto';
    color: #f2f2f2;
    font-weight: 400;
    font-size: 17px;
    transition: 0.2s;
    background-color: rgb(87, 116, 153);
}