<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <button type="button" class="btn" style="background-color:transparent; color:white; font-weight: bold" routerLink="/login">Basic</button>
    <button type="button" class="btn" style="background-color:transparent; color:white; font-weight: bold" routerLink="/signup">Sign up</button>
    <button type="button" class="btn" style="background-color:transparent; color:white; font-weight: bold" routerLink="/organization">Generate Certificates</button>
    <button type="button" class="btn" style="background-color:transparent; color:white; font-weight: bold" routerLink="/student">View your certificates</button>
</div>
<div class ="title">
    <h2>Welcome, to {{ title }}, you can:</h2>
</div>

<br>
<h5>Router Outlet</h5>
<router-outlet></router-outlet>
<!-- Footer -->
<style>
.title {
  margin-left: 220px;
}
.footer {
   position: fixed;
   left: 0;
   height: 5%;
   bottom: 0;
   width: 100%;
   background-color: #F44336;
   color: white;
   text-align: center;
}
.container {
  height: 95%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D32F2F;
  padding-top: 20px;
}
.social {
   position: fixed;
   left: 0;
   bottom: 0.25%;
   width: 95%;
}
</style>
<footer class="footer">
  <div class="text-center py-3"><strong>© 2018
    <a style = "text-decoration: none; color: white;"href="https://codein.withgoogle.com/organizations/jboss-community" > JBoss Community </a> </strong>
      <div class="social">
        <a href="https://gitter.im/JBossOutreach"><img src="src/gitter.png" align="right" /></a>
        <a href="https://github.com/JBossOutreach"><img src="src/github.png" align="right" /></a>
        <a href="https://twitter.com/jbossorg"><img src="src/twitter.png" align="right" /></a>
      </div>
  </div>
</footer>
<!-- Footer -->
