<div class="template"   >
<h1>
  Certificate
</h1>
<h2>Google Code-in</h2>
<div class="info">
  <b><p>This certificate is awarded to</p></b>
  <br>
  <h3>Name Surname</h3>
  <br>
<div class="description">......</div>
<div class="d1"><p class="d">Date:</p>
  <p class="d2"></p>
</div>
<div class="id">
  <p>ID:___________</p>
  </div>
  <div class="sign">
    <p>Signature:__________</p>
    </div>
</div>
<div class="div" [ngStyle]="{   'margin-left': this.info[2]+'px',
                                  'margin-top':'-'+this.info[3]+'px'}" >
                <h3>{{this.info[1]}} </h3> </div>
</div>
<div class="image">
<img src="https://cdn2.iconfinder.com/data/icons/seo-and-internet-marketing-glyphs-2/128/88-512.png" style="width:170px;"></div>
