<div class="inset-border">
  <div class="double-border">
   <div>
     <div class="id" align="left">ID: </div>
     <div *ngIf= "ifFieldChosen" class="validtill" align="left">Valid Till:</div>
       <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/JBoss_logo.svg" align="center"/>
     <p class="certificate">Certificate</p>
     <h2><span>of Excellence</span></h2>
     <p class="text">This certificate is proudly presented to:</p>
     <p class="name">{{ this.certificateForm.value.issued_to }}</p>
     <p class="description">{{ this.certificateForm.value.issued_for }}</p>
     <div class="date">
         <p class="dateText" align="left">Date: {{ this.certificateForm.value.date }}</p>
       </div>
       <div class="signature">
         <p class="signatureText" align="right">Signature:</p>
       </div>
       </div>
   </div>
</div>
