.file-upload-container{
  position:relative;
  background-color: white;
  height:100%;
  width: 100%;
  padding:30px;
}
.file-upload-container button{
  vertical-align: bottom;
  position: absolute;
  bottom: 20px;
}

.file-upload-body mat-progress-bar{
  width:80%;
  padding-left: 20px;
  float:right;
  margin-top:7px;
}
button {
  background-color: #F1002C;
  border: none;
  border-radius: 30px;
  padding: 8px 30px;
  color: white;
  letter-spacing: 1.5px;
}