<div class="template">
<h1>
  Certificate
</h1>
<h2>Google Code-in</h2>
<div class="info">
  <b><p>This certificate is awarded to</p></b>
  <br>
  <h3>{{ this.certificateForm.value.issued_to }}</h3>
  <br>
  <b><p class="d">{{ this.certificateForm.value.issued_for }}</p></b>
<div class="description"></div>
<div class="d1"><p class="d">Date: {{ this.certificateForm.value.date }}</p></div>
<div class="id">
  <p>ID:___________</p>
  </div>
  <div class="sign">
    <p>Signature:__________</p>
    </div>
</div>
</div>
<div class="image">
<img src="https://cdn2.iconfinder.com/data/icons/seo-and-internet-marketing-glyphs-2/128/88-512.png" style="width:170px;">
</div>
