<div class="outer"></div>
<div class="line-1"></div>
<img class="logo" src="https://i.stack.imgur.com/79Q5c.png"/>
<div class="line-2"></div>
<div class="text-1">Certificate ID -</div>
<div *ngIf="optional_1">
<div class="validtill">Valid till:</div>
</div>
<div class="title">TITLE</div>
<div class="text-2">This award is proudly presented to </div>
<div class="name">Name</div>
<div class="description">Description</div>
<div class="line-3"></div>
<div class="line-4"></div>
<div class="date">Date</div>
<div class="signature">Signature</div>
<div *ngIf="optional_2">
<div class="name-1">Name </div>
<div class="line-5"></div>
<div class="checked">Checked by </div>
</div>
