<u><h1>Dashboard for ant15</h1></u>

<div class="d"><div class="org first">
  <a href='certificate1'> <button type="button">View Certificates</button></a>
</div>
<div class="cert">
<b><p>Certificates:5</p></b>
</div>
</div>
<div class="d"><div class="org second">
   <button type="button">View Certificates</button>
</div>
<div class="cert">
<b><p>Certificates:3</p></b>
</div>
</div>
<div class="d"><div class="org third">
   <button type="button">View Certificates</button>
</div>
<div class="cert">
<b><p>Certificates:2</p></b>
</div>
</div>
