@import url('https://fonts.googleapis.com/css?family=Audiowide|Chakra+Petch|Sacramento|Srisakdi|Unica+One');

body {
  text-align: center;
  background-color: #ffffff;
}
img {
  width: 15%;
}
 .center {
  width: 50%;
  font-family: 'Unica One', serif;
  margin-left: auto;
  margin-right: auto;
  border-style: dashed;
  border-radius: 10px;
  border-width: 5px;
  border-color: #3b9fde;
  margin-top: 5%;
}
 .org_name {
  font-size: 42px;
  font-family: 'Chakra Petch', serif;
  color: #ffa700;
  margin-top: 0px;
  margin-bottom: 0px;
}
.company {
 margin-bottom: 1.5em;
}
.id {
 margin:10px;
 color: #d62d20;
}
 .candidate-name {
  font-size: 38px;
  font-family: 'Audiowide', cursive;
  color: #0057e7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.coa {
  font-size: 32px;
  color: #db3236;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pre_text {
  font-family: "Sacramento", cursive;
  font-size: 18px;
  color: #bbaca9;
  margin-top: 0px;
  margin-bottom: 0px;
}
 .desc {
  font-size: 18px;
  font-family: 'Sacramento', cursive;
  color: #008744
}
/* . {
 margin-left: 1em;
 display: inline-block;
} */
  .dateHead {
  width: auto;
  margin-right: 1em;
  font-family: 'Sirsakdi', cursive;
}
 .date {
  width: auto;
  font-style: italic;
  margin-bottom: 5em;
}
 .signHead {
  font-family: 'Sirsakdi', cursive;
}
 .sign {
  width: auto;
  margin-bottom: 5em;
}
 .signature-area {
  margin-right: 10em;
  display: inline-block;
}
.date-area {
 margin-left: 10em;
 display: inline-block;
}