<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row details-wrapper">
    <div class="col">
      <h1 class="org-title">{{name}}</h1>
      <h4>{{role}}</h4>
      <h4>{{place}}</h4>
    </div>
    <div class="col rtl">
      <h1 class="org-title">Certificates: {{certificates}}</h1>
      <h4> Download </h4>
    </div>
    <div class="container-fluid">
      <div class="row action-wrapper">
        <div class="col-1"></div>
        <button class="col-lg-3"> IMPORT</button>
        <div class="col-1"></div>
        <button type="button" routerLink="/issue/single" class="col-lg-3 blue-btn"> GENERATE</button>
        <div class="col-1"></div>
        <button type="button" class="col-lg-3 red-btn"> EDIT TEMPLATE</button>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
  <app-organization-folders></app-organization-folders>
</div>
