.ag-theme-balham{
    height:60vh !important;
    width: 100% !important;
}

* {
  color: #384850;
}

.details-wrapper {
  margin: 40px 15%;
}

.org-title {
  font-weight: bold;
}

.rtl {
  float: right;
  text-align: right;
}

.progress-bar {
  width: 0%;
}

.alert {
  width: 60%;
  margin: 30px auto 0 auto;
}

.action-wrapper {
  margin-top: 30px;
}

button {
  font-size: 1.5rem;
  min-height: 40px;
  font-weight: bold;
  background: #64C13A;
  color: white;
  border-radius: 25px;
  border: none;
}

.blue-btn {
  background: #1F8CE9;
}

.progress {
  width: 70%;
  margin: 30px auto 10px auto;
  height: 30px;
  color: white;
}

.bg-success {
  color: white;
  font-weight: bold;
}
