.ag-theme-balham{
    height:60vh !important;
    width: 100% !important;
}

button {
    background-color: #F1002C;
    border: none;
    border-radius: 30px;
    padding: 8px 30px;
    margin: 40px 0;
    color: white;
    letter-spacing: 1.5px;
}
* {
  color: #384850;
}

.details-wrapper {
  margin: 40px 15%;
}

.org-title {
  font-weight: bold;
}

.rtl {
  float: right;
  text-align: right;
}

.action-wrapper {
  margin-top: 30px;
}

button {
  font-size: 1.5rem;
  min-height: 40px;
  font-weight: bold;
  background: #64C13A;
  color: white;
  border-radius: 25px;
  border: none;
}

.blue-btn {
  background: #1F8CE9;
}

.card {
  margin-top: 40px;
  margin-left: 6.25%;
}

.card .btn {
  color: white;
}

.card .card-img-top {
  width: 70%;
  height: 80%;
  margin: 15px auto 0 auto;
  padding: 15px;
}
