<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row details-wrapper">
    <div class="col">
      <h1 class="org-title"> {{this.orgname}} </h1>
      <h4> Mentor @ JBoss </h4>
      <h4> Mumbai, IN </h4>
    </div>
    <div class="col rtl" >
      <h1 class="org-title"> Certificates: {{ this.rowData.length }} </h1>
      <h4> Download </h4>
    </div>
    <div class="container-fluid">
      <div class="row action-wrapper">
        <div class="col-2"></div>
        <button class="col-lg-3" (click)="uploader.click()"> IMPORT </button>
        <input hidden type="file" #uploader (change)="importCSV($event)"/>
        <div class="col-2"></div>
        <button type="button" routerLink="/issue/single" class="col-lg-3 blue-btn"> GENERATE </button>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  <h2 class="text-center section-title title"><i class="fa fa-users"></i>&nbsp;&nbsp; Certificates Issued</h2>
<div class="container-fluid details-wrapper">
  <table class="table shadow">
    <thead class="table-head ">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Issued For</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <h1 *ngIf="rowData.length == 0" class="empty-title">No Certificates Issued</h1>
      <tr *ngFor="let student of rowData">
        <th scope="row">{{student.name}}</th>
        <td>{{student.date}}</td>
        <td>{{student.desc}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
