
<h1><u> Certificates issued</u></h1>
<div>
<div class="certificate">
<a target="_blank" routerLink="/certificate1">
<img src="https://user-images.githubusercontent.com/44519061/49029200-b9e10180-f1ac-11e8-9e56-3e2d390698b6.png" width="300" height="200">
<div class="container">
   <p>Certificate 1</p>
 </div>
 </a>
  </div>
  <div class="certificate">
  <a target="_blank" routerLink="#certificate2">
  <img src="https://user-images.githubusercontent.com/44519061/49029901-87380880-f1ae-11e8-81b3-fe4bd05b2112.png" width="300" height="200">
  <div class="container">
     <p>Certificate 2</p>
   </div>
   </a>
    </div>

</div>
