<div class="row">

  <form>

   <div class="generate_w">
     <div class="form-group">
      <label for="template">Template: </label>
      <select id="template" name="template" required>
        <option>Certificate</option>
        <option>Other Certificates</option>
      </select>
    </div>

    <div class="form-group">
      <label for="id">Id: </label>
      <input id="id" type="text" (input)="inputs[1]=$event.target.value" required>
    </div>

    <div class="form-group">
      <label for="name">Name: </label>
      <input id="name" name="name" type="text" (input)="inputs[2]=$event.target.value" required>
    </div>

    <div class="form-group">
      <label for="description">Description: </label>
      <input id="description" type="text_des" (input)="inputs[3]=$event.target.value" required>
    </div>

    <div class="form-group">
      <label for="date">Date Issued: </label>
      <input id="date" type="date" (input)="inputs[4]=$event.target.value" required>
    </div>
    
    <div>
      <button type="button" ngx-scroll-to 
      [ngx-scroll-to-offset]="3000000">Generate</button>
    </div>
   </div>

  </form>

  <app-certificate [inputs]="inputs"></app-certificate>

</div>