/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
.page-footer{
	position: absolute;
	bottom: 0;
}
a{
	color: white;
	text-decoration: none;
	transition: all 0.15s;
}
a:hover{
	font-weight: bold;
	}