<div class="top">
    <div class="id">ID- </div>
    <div class="id_number"> #A666 </div>
    <img src ="assets/jboss.svg" class="logo">
</div>

<div class="cert-head"> Certificate of Excellence </div>

<div class="cert-title"> This certificate is awarded to </div>
<div class="stud-name"> {{ this.certificateForm.value.issued_to }} </div>
<div class="cert-body"> {{ this.certificateForm.value.issued_for }} </div>

<div class="valid_inputs">
<div class="date_input"> {{ this.certificateForm.value.date }} </div>
<!--<div class="sign_input"> Lorem I Dolor</div> Add issuer's name/virtual signature-->
</div>

<div class="valid">
<div class="date"> Date of Issuance </div>
<div class="sign"> Signature </div>
</div>
