<div class="center">
  <div>
    <div class="id" align="left">ID: </div>
      <img class="org_logo" src="https://upload.wikimedia.org/wikipedia/commons/9/95/JBoss_logo.svg" align="center"/>
    <h1 class="org_name">Google Code In</h1>
    <p class="coa">Certificate of Achievement</p>
    <p class="pre_text">Presented to:</p>
    <p class="candidate-name">Name</p>
    <h3 class="desc">Description</h3>
      <div class="signature-area">
        <h4 class="signHead" align="left">Sign</h4>
        <h4 class="sign" align="left"></h4>
      </div>
      <div class="date-area">
        <h4 class="dateHead" align="right">Date</h4>
        <h4 class="date" align="right"></h4>
      </div>
    </div>
  </div>
</div>